@model IEnumerable<about.me.Models.Experience>

@{
    ViewBag.Title = "Experiencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Experiencia</h2>

<p>
    @Html.ActionLink("Adicionar Experiencia", "Create",null, htmlAttributes:new { @class="btn btn-success"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Profile.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameCharge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Profile.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameCharge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <a href="@Url.Action("Edit",new { id=item.ExperienceID })"><span class="glyphicon glyphicon-edit"></span></a>
            <a href="@Url.Action("Details",new { id=item.ExperienceID })"><span class="glyphicon glyphicon-list"></span></a>
            <a href="@Url.Action("Delete",new { id=item.ExperienceID })"><span class="glyphicon glyphicon-remove-circle"></span></a>                        
        </td>
    </tr>
}

</table>
