@model IEnumerable<about.me.Models.Contact_Profile>

@{
    ViewBag.Title = "Informacion de Contacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Informacion de Contacto</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-success">Crear Nueva informacion de Contacto</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Profile.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cellphone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Skype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Website)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Facebook)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Twitter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Linkedin)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Profile.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cellphone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a href="@item.Skype" target="_blank" title="@item.Skype">
                    <img src="~/images/SocialMedia/skype.png" class="img-responsive" style="width:25px" />
                </a>
            </td>
            <td>
                <a href="@item.Website" target="_blank" title="@item.Website">
                    <img src="~/images/SocialMedia/safari.png" class="img-responsive" style="width:25px" />
                </a>
            </td>
            <td>
                <a href="@item.Facebook" target="_blank" title="@item.Facebook">
                    <img src="~/images/SocialMedia/facebook.png" class="img-responsive" style="width:25px" />
                </a>                
            </td>
            <td>
                <a href="@item.Twitter" target="_blank" title="@item.Twitter">
                    <img src="~/images/SocialMedia/twitter.png" class="img-responsive" style="width:25px" />
                </a>                
            </td>
            <td>
                <a href="@item.Linkedin" target="_blank" title="@item.Linkedin">
                    <img src="~/images/SocialMedia/linkedin.png" class="img-responsive" style="width:25px"/>
                </a>                
            </td>
            <td>
                <a href="@Url.Action("Edit",new { id=item.Contact_ProfileID })"><span class="glyphicon glyphicon-edit" style="font-size:25px"></span></a>
                <a href="@Url.Action("Details",new { id=item.Contact_ProfileID })"><span class="glyphicon glyphicon-list" style="font-size:25px"></span></a>
                <a href="@Url.Action("Delete",new { id=item.Contact_ProfileID })"><span class="glyphicon glyphicon-remove-circle" style="font-size:25px"></span></a>
            </td>
        </tr>
    }

</table>
