<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/materialize/css/materialize.css" rel="stylesheet" />
    <script src="~/Scripts/materialize/materialize.min.js"></script>

    @Styles.Render("~/Content/materialize")
    @Scripts.Render("~/bundles/materialize")
</head>
<body>
    <header>
        <nav>
            <div class="navbar-fixed center">
                <a href="#!" class="brand-logo">MaterializedCSS</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="@Url.Action("Buttons","Home")" class="hide-on-med-and-down btn"><i class="material-icons left">Buttons</i></a></li>
                    <li><a href="#"><i class="material-icons right">Module</i></a></li>
                </ul>
            </div>
            <div class="navbar-fixed center">                
                <ul class="center">
                    <li>Buttons</a></li>                    
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <!-- Content for the page is here -->
        <div class="row">
            <!-- Grey navigation panel -->
            <div class="col s3">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Materialized CSS</span>
                        <a href="@Url.Action("Buttons", "Home")" class="btn">Buttons</a>
                        <a href="@Url.Action("Cards", "Home")" class="btn">Cards</a>
                        <a href="@Url.Action("Collapsible","Home")" class="btn">Collapsible</a>
                    </div>
                    <div class="card-action">
                        @Html.ActionLink("Index","Index","Home")
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
            <!-- Teal page content  -->
            <div class="col s9">
	      @RenderBody()            
            </div>
        </div>
    </div>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">
                        Materialized CSS (Framework web for user interface )
                    </h5>
                    <p class="grey-text text-lighten-4">This example was developed by Mario Botero</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="http://about.me/mariobot" target="_blank">About MaRioBoT</a></li>
                        <li><a class="grey-text text-lighten-3" href="http://twitter.com/mariobot" target="_blank">Twitter MaRioBot</a></li>
                        <li><a class="grey-text text-lighten-3" href="http://mariobot.wordpress.com" target="_blank" >MaRioBot Blog</a></li>
                        <li><a class="grey-text text-lighten-3" href="http://materializecss.com/about.html" target="_blank">Official Page Materialized</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © @DateTime.Now.Year Copyright Text
                <a class="grey-text text-lighten-4 right" href="http://about.me/mariobot" target="_blank">MaRioBoT</a>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
