@using about.me.Models
@model LoginViewModel

@{
    ViewBag.Title = "Iniciar Sesion";
}

<style>
    .form-signin {
        max-width: 400px;
        display: block;
        background-color: #f7f7f7;
        -moz-box-shadow: 0 0 3px 3px #888;
        -webkit-box-shadow: 0 0 3px 3px #888;
        box-shadow: 0 0 3px 3px #888;
        border-radius: 2px;
    }

    .main {
        padding: 38px;
    }

    .social-box {
        margin: 0 auto;
        padding: 38px;
        border-bottom: 1px #ccc solid;
    }

        .social-box a {
            font-weight: bold;
            font-size: 18px;
            padding: 8px;
        }

            .social-box a i {
                font-weight: bold;
                font-size: 20px;
            }

    .heading-desc {
        font-size: 20px;
        font-weight: bold;
        padding: 38px 38px 0px 38px;
    }

    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }

    .form-signin .checkbox {
        font-weight: normal;
    }

    .form-signin .form-control {
        position: relative;
        font-size: 16px;
        height: 20px;
        padding: 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

        .form-signin .form-control:focus {
            z-index: 2;
        }

    .form-signin input[type="text"] {
        margin-bottom: 10px;
        border-radius: 5px;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-radius: 5px;
    }

    .login-footer {
        background: #f0f0f0;
        margin: 0 auto;
        border-top: 1px solid #dadada;
        padding: 20px;
    }

        .login-footer .left-section a {
            font-weight: bold;
            color: #8a8a8a;
            line-height: 19px;
        }

    .mg-btm {
        margin-bottom: 20px;
    }
</style>
<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <div class="container">
            <div class="row">
                <br /><br /><br />
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin mg-btm", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h3 class="heading-desc text-center">
                        INICIAR SESION
                    </h3>
                    <div class="social-box">
                        <div class="row mg-btm">
                            <div class="col-md-12">
                                <a href="#" class="btn btn-primary btn-block">
                                    <i class="icon-facebook"></i>    Login with Facebook
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a href="#" class="btn btn-info btn-block">
                                    <i class="icon-twitter"></i>    Login with Twitter
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="main">
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Contraseña" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="col-xs-12 col-md-12 text-center">
                                    <input type="submit" value="Log in" class="btn btn-lg btn-block btn-default pull-right" />
                                </div>
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>                                
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>                    
                    <div class="login-footer">
                        <div class="row">                            
                            <div class="col-xs-12 col-md-12">
                                <div class="text-center">
                                    @*<a href="">Forgot your password?</a>*@
                                    <a href="@Url.Action("Register","Account")" class="btn btn-default">Registrarme como nuevo usuario</a>
                                </div>
                            </div>                            
                        </div>
                    </div>                
                }
            </div>
        </div>
    </div>
    @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }