@model about.me.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrarme";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-4 col-md-offset-4 ">
        <h2>Registrarme en el sistema</h2>
        <h4>Crear una nueva cuenta.</h4>
        <hr />
    </div>    
    <div class="form-group">        
        @Html.Label("Email", new { @class = "col-md-2 control-label col-lg-offset-4" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Ciudad", new { @class = "col-md-2 control-label col-lg-offset-4" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Hometown, new { @class = "form-control" })
        </div>
    </div>    
    <div class="form-group">
        @Html.Label("Contraseña", new { @class = "col-md-2 control-label col-lg-offset-4" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Confirmar Contraseña", new { @class = "col-md-2 control-label col-lg-offset-4" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-5 col-md-3">            
            <input type="submit" class="btn btn-success btn-block" value="Registrarme" />            
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-5 col-md-3">
            @Html.ValidationSummary("", new { @class = "text-danger" })
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
