@model about.me.Models.Habilities

@{
    ViewBag.Title = "Eliminar Habilidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Habilidad</h2>

<h3>Esta seguro que desea eliminar esto?</h3>
<div>
    <h4>Habilities</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Profile.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profile.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameHability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameHability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Porcentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Porcentage)
        </dd>
        <dd>
            <br />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                    @Html.ActionLink("Volver", "Index",null,htmlAttributes:new { @class="btn btn-default"})
                </div>
            }
        </dd>
    </dl>    
</div>
