@{
    ViewBag.Title = "Tutorial Materialized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">   
    <div class="col s4">
        <div class="card small">
            <div class="card-title">
                Botones
            </div>
            <div class="card-content">
                <p>Ver los tipos de botones con Materialized CSS </p>
            </div>
            <div class="card-action">
                <a href="@Url.Action("Buttons","Home")">Botones</a>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card small">
            <div class="card-title">
                Cards
            </div>
            <div class="card-content">
                <p>Ver las tarjetas implementadas en Materialized CSS </p>
            </div>
            <div class="card-action">
                <a href="@Url.Action("Cards","Home")">Cards</a>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card small">
            <div class="card-title">
                Collapsible
            </div>
            <div class="card-content">
                <p>Ver los ejemplos de paneles agrupados con Materialized CSS </p>
            </div>
            <div class="card-action">
                <a href="@Url.Action("Collapsible","Home")">Collapsible</a>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card small">
            <div class="card-title">
                Typography
            </div>
            <div class="card-content">
                <p>Ver los tipos de letra con Materialized CSS </p>
            </div>
            <div class="card-action">
                <a href="@Url.Action("Typography","Home")">Typography</a>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card small">
            <div class="card-title">
                Forms
            </div>
            <div class="card-content">
                <p>Ver los tipos de formularios con Materialized CSS </p>
            </div>
            <div class="card-action">
                <a href="@Url.Action("Forms","Home")">Forms</a>
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card small">
            <div class="card-title">
                Media
            </div>
            <div class="card-content">
                <p>Ver los tipos archivos multimedia con Materialized CSS </p>
            </div>
            <div class="card-action">
                <a href="@Url.Action("Media","Home")">Media</a>
            </div>
        </div>
    </div>    
</div>

