<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Mi Perfil</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Mi Perfil", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    @*<li>@Html.ActionLink("API", "Index", "Help", new { area = "HelpPage" }, null)</li>*@
                    <li>@Html.ActionLink("Perfil", "Index", "Profiles")</li>
                    <li>@Html.ActionLink("Contactos", "Index", "Contact_Profile")</li>
                    <li>@Html.ActionLink("Educacion", "Index", "Educations")</li>
                    <li>@Html.ActionLink("Habilidades", "Index", "Habilities")</li>
                    <li>@Html.ActionLink("Experiencia", "Index", "Experiences")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @RenderSection("SPAViews", required: false)
        <footer class="text-center">
            <hr />
            <p>&copy; @DateTime.Now.Year - Mi Perfil - Developed by: </p>
            <p><a href="http://about.me/mariobot" target="_blank">MaRioBoT</a> - <a href="http://www.twitter.com/mariobot" target="_blank">@@MaRioBot </a> - <a href="http://mariobot.wordpress.com" target="_blank">Wordpress</a> </p>
            <p>from Manizales with <span class="fa fa-heart-o"></span></p> 
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>
