@model about.me.Models.Profile

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <h2>Detalles del Perfil</h2>
        Nombre: @Model.FirstName <br />
        Apellido: @Model.LastName <br />
        Profesion: @Model.Profesion <br />
        @Html.ActionLink("Editar", "Edit", new { id = Model.ProfileID }, htmlAttributes: new { @class = "btn btn-sm btn-success" })
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Contact</h3>
        Direction: @Model.Contact.Direction <br />
        Email: @Model.Contact.Email <br />
        Phone: @Model.Contact.Phone <br />
        Facebook: @Model.Contact.Facebook <br />
        LinkedIn: @Model.Contact.Linkedin <br />
        Twitter: @Model.Contact.Twitter <br />
        Website: @Model.Contact.Website <br />
        @Html.ActionLink("Editar","Edit","Contact_Profile",new { id= Model.Contact.Contact_ProfileID}, htmlAttributes: new { @class="btn btn-sm btn-success"})
    </div>
    <div class="col-md-4">
        <h3>Education</h3>
        @foreach (var item in Model.Education)
        {
            <div>
                Career: @item.NameCareer <br />
                University: @item.NameUniversity <br />
                Date: @item.DateStart - @item.DateEnd <br />
                ShortDescription: @item.ShortDescription<br />
                Description: @item.Description <br />
                @Html.ActionLink("Editar","Edit","Educations",new { id=item.EducationID}, htmlAttributes:new { @class="btn btn-sm btn-success" })
            </div>
        }
    </div>
    <div class="col-md-4">
        <h3>Experience</h3>
        @foreach (var item in Model.Experience)
        {
            <div>
                Company: @item.Company <br />
                Charge: @item.NameCharge <br />
                Date: @item.DateStart - @item.DateEnd <br />
                ShortDescription: @item.ShortDescription<br />
                Description @item.Description <br />
                @Html.ActionLink("Editar","Edit","Experiences",new { id=item.ExperienceID},htmlAttributes: new { @class="btn btn-sm btn-success"})
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Habilities</h3>
        @foreach (var item in Model.Habilities)
        {
            @Html.ActionLink("Editar", "Edit", "Habilities", new { id = item.HabilitiesID }, htmlAttributes: new { @class = "btn btn-sm btn-success" })<span>@item.NameHability @item.Porcentage%</span> 
            <br />
        }
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>
